h1 {
  text-align: center;
  padding: 1rem 2.5rem;
  margin: 0 0 0rem 0;
  color: rgba(255, 251, 251, 1);
  /* color: white; */
  font-size: xx-large
}

p {
  margin-top: 2.5rem;
  padding-bottom: 15rem;
  font-size: large;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

.cardContainer {
  cursor: pointer;
  height: 400px;
  width: 400px;
  perspective: 800px;
  margin: auto;
  transition: ease-in;
  display: flex;
  flex-wrap: wrap;
  position:relative;
  width: 40%;
  margin: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}


.card {
  height: 400px;
  width: 400px;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 0px;
  transition: all .2s linear;
  position: absolute;


  perspective: 800px;
}

.card:hover {
  transform: rotateY(180deg);
  transition: all 0.4s ease-in-out;
}

.card.flip {
  --rotate-y: 180deg
}

.card .front {
  height: 400px;
  width: 400px;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-color: rgba(255, 251, 251, 1);
  transition: all 0.4s ease-in-out;

}

.card .back {
  height: 400px;
  width: 400px;
  transform: rotateY(180deg);
  text-align: center;
  background-color: #d1b26d;
}

.title {
  text-align: center;
  padding: 1rem 0rem;
  background-color: #d1b26d;
  margin: 0 0 0rem 0;
  font-size: 1.5rem;
  color: white;
  background-color: #d1b26d;
}

.details {
  padding: 0 2.5rem 2.5rem;
  margin: 10;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 80px;
  border: 1px solid #d1b26d;
  background-color: #d1b26d;
  color: rgba(255, 251, 251, 1);
  font-weight: 700;
  text-align: center;
  margin: 10px 15px 15px 10px;
  vertical-align: bottom;
  letter-spacing: 1px;
  position: absolute;
  float: right;
  top: 330px;
  right: 10px;

}

.btn .back {
  background-color: rgba(255, 251, 251, 1);
}

.btn:hover {
  cursor: pointer;
  border: 1px solid #333;
  background-color: #333;
}
